/****** PLACE YOUR CUSTOM STYLES HERE ******/
.slide-in-from-top{
    animation-duration: 3s;
    animation-name: slideInFromTop;
}
@keyframes slideInFromTop {
    from {
        padding-bottom: 100%;

    }
    to {
        padding-bottom: 0%;
    }
}

.fade-image-in {
    animation-duration: 5s;
    animation-name: fadeImageIn;
}
@keyframes fadeImageIn {
    from {
        opacity: 0%;
    }
    50% {
        opacity:35%;
    }
    to {
        opacity: 100%;
    }
}

.slide-in-from-right {
    animation-duration: 3s;
    animation-name: slideInFromRight;
}

@keyframes slideInFromRight {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}

.slide-in-from-left {
    animation-duration: 3s;
    animation-name: slideInFromLeft;
}

@keyframes slideInFromLeft {
    from {
        margin-right: 100%;
        width: 300%;
    }
    left {
        margin-right: 0%;
        width: 100%;
    }
}

.right {
    opacity: 100%;
}

.left {
    opacity: 100%;
}

.mb-top-80 {
    margin-top: 80px;
} 
.mb-bm-80 {
    margin-bottom: -85px;
}

@media all and (max-width: 767px) {
    .left-button {
      margin-right: 0px;
    }
    .mb-top-80 {
        margin-top: 0px;
    }
    .mb-bm-80 {
        margin-bottom: -100px;
    }
}

.main-button {
    margin-top: 110px;
    background-color: #fff;
    color: #000;
    border-style: none;
}

html {
    scroll-behavior: smooth;
 }
